*.o
*.obj
*.zip
nppBackup
grammar.tab.h
grammar.tab.c
token.yy.c
token.yy.h
*.exe
pjass
*.out
*-analysis.txt
*.sw*
*.dll
*.lib
*.pdb
*.idb
tests/Blizzard.j
tests/common.j
tests/map-scripts/
*.d

#############
### MSVC ####
#############
*.user
msvc/Debug
msvc/Release
msvc/build
